body{
background: url("http://www.nationalgeographic.com/new-york-city-skyline-tallest-midtown-manhattan/assets/img/skyline-downtown/downtown-2.jpg") no-repeat fixed center; 
    height: 100%; 
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    
}
.row{
color:gray;
}
p{
    width: 700px;
    border: 10px solid gray;
    padding: 10px;
    margin-bottom: 10px;   
    margin-left: 5px;
    background-color: white;
}
.house {
  width: 0px;
  height: 0px;
  border-left: 260px solid transparent;
  border-right: 260px solid transparent;
  border-bottom: 250px solid #999;
  z-index:-1;
  position: absolute;
  left: 800px;
  bottom: 350px;
}

.house:after {
  position: absolute;
  content: '';
  background: gray;
  width: 520px;
  height: 260px;
  top: 250px;
  left: -260px;
  z-index:-1;
}

.house:before {
  position: absolute;
  content: '';
  background: brown;
  width: 135px;
  height: 200px;
  top: 300px;
  left: -60px;
  z-index:1;
}
.health-bar {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  width: 200px;
  height: 20px;
  padding: 5px;
  background: #ddd;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  position: relative;
}
.bar {
  background: #c54;
  width: 100%;
  height: 10px;
  position: relative;
  
  transition: width .5s linear;
}

.hit {
  background: rgba(255,255,255,0.6);
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  width: 0px;
  
  transition: width .5s linear;
}

#material_form_btn{
    margin-left: 300px;
}
.health-bar{
    margin-top:-490px;
    margin-left:955px;
}
button{
    margin-left:1020px;
    padding:10px;
}