.wrapper {
    text-align: center;
}

#button {
    position: absolute;
    top: 85%;
    left:42%;
    background-color: #4CAF50;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
}
p{
  text-align:center;
  margin: auto;
  width: 50%;
  border: 3px solid black;
  padding: 10px;
  font-size:24px;
}
body{
background: url("http://2.bp.blogspot.com/-u5x4TJ35qMU/VXsPCGBVxNI/AAAAAAAAGS0/Khjv17QODqk/s1600/New%2BYork%2BCity%2Bsilhouette.png") no-repeat fixed center;
    height: 100%; 
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
h1{
text-align:center;
}